.inn{
  display: flex;
  justify-content: center;
  padding-top: 7px;
}
label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}
.submit{
  background-color: darkblue;
  color: beige;
  height: 30px;
  border-radius: 10px;
}
.submit:hover{
  cursor: pointer;
}